{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h2>{% translate "Welcome to Quotes" %}</h2>
    <div class="grid-container">
        <p>{% translate "Last quotes added:" %}</p>
        {% for quote in quotes %}
            <p><i class="bi bi-quote" style="color: #772953; font-size: 150%"></i>{{ quote.text }} <br/>
                {% translate " by: " %} {{ quote.author }}
                {% if quote.source %}
                    <br/>
                    {% translate " Source: " %} {{ quote.source }}
                {% endif %}
                <br/>
                {% blocktranslate count count=quote.category.values|length %}
                    Category:
                {% plural %}
                    Categories:
                {% endblocktranslate %}
                {% for category in quote.category.values %}
                    {{ category.label }}
                {% endfor %}
            </p>
    {% endfor %}
    </div>
{% endblock content %}