{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h2>{{ author.first_name }}  {{ author.last_name }}
        {% if author.pseudonym %}
            ({{author.pseudonym}})
        {% endif %}
    {% translate " quotes list" %}</h2>
    <h3>(
        {{ author.birth_date|date:"d F Y" }}
        {% if author.death_date %}
            - {{ author.death_date|date:"d F Y" }}
        {% endif %}
        )
    </h3>
    <div class="grid-container">
        {% if quotes %}
            {% for quote in quotes %}
                <p><i class="bi bi-quote" style="color: #772953; font-size: 150%;" ></i>&nbsp;{{ quote.text }}
                {% if quote.source %}
                    <br/>{% translate " Source: " %} {{quote.source}}
                {% endif %}
                </p>
            {% endfor %}
        {% else %}
            <p><i class="bi bi-emoji-tear" style="color: #772953; font-size: 150%;" ></i>
                {% translate "Sorry, nothing here for this author." %}
            </p>
            <p>{% translate "Time maybe to add a quote for this author using this" %}
                <a href="{% url 'add-quote' %}">{% translate "form" %}</a>
            </p>
        {% endif %}
    </div>
{% endblock content %}